@{
    ViewBag.Title = "About";
}

<br /><br /><br /><br /><br /><br />


<div id="fh5co-featured-menu" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2 style="font-family: 'Microsoft JhengHei'; color: #B8860B">Meet our Team</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>資策會SMIT14優秀班級第二組大專題發表成員</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item animate-box">
                    <img src="~/Template/images/members/羅舜陽.jpg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
                    <h3>羅舜陽</h3>
                    <span class="fh5co-price">藍帶<sup>1號</sup></span>
                    <p>這裡放介紹~~~~</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item margin_top animate-box">
                    <img src="~/Template/images/members/戴玉涵.jpeg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
                    <h3>戴玉涵</h3>
                    <span class="fh5co-price">大廚<sup>2號</sup></span>
                    <p>這裡放介紹~~~~</p>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item animate-box">
                    <img src="~/Template/images/members/江雯婷.jpeg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
                    <h3>江雯婷</h3>
                    <span class="fh5co-price">甜點師<sup>3號</sup></span>
                    <p>這裡放介紹~~~~</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item margin_top animate-box">
                    <img src="images/gallery_7.jpeg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
                    <h3>林易萱</h3>
                    <span class="fh5co-price">糕餅師<sup>4號</sup></span>
                    <p>這裡放介紹~~~~</p>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="fh5co-about" class="fh5co-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
                    <img src="images/hero_1.jpeg" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">
                    <div class="section-heading">
                        <h2>The Restaurant</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae neque quisquam at deserunt ab praesentium architecto tempore saepe animi voluptatem molestias, eveniet aut laudantium alias, laboriosam excepturi, et numquam? Atque tempore iure tenetur perspiciatis, aliquam, asperiores aut odio accusamus, unde libero dignissimos quod aliquid neque et illo vero nesciunt. Sunt!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iure reprehenderit nihil nobis laboriosam beatae assumenda tempore, magni ducimus abentey.</p>
                        <p><a href="#" class="btn btn-primary btn-outline">Our History</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div id="fh5co-timeline">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>關於我們 SMIT14 第二組</h3></div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">遇見彼此</h3>

                            </div>
                            <div class="timeline-body">
                                <p>2021.6.30 資策會 SMIT14 開訓</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">小專題</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.07.12 HTML 小專題發表</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">同樂會</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.09.14 物聯網專題發表</p>
                            </div>
                        </div>
                    </li>

                    <br>
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>大專題心路歷程</h3></div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">見同學兼網友</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.08.30 大專題啟動會議</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">資料表建置</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.09.06 資料表建置完成</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">前端網頁美工</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.09.13 完成前端網頁</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">後端系統建置</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.09.22 完成後端系統</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">發表預演</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.09.24 預演</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-genius"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">結訓</h3>
                            </div>
                            <div class="timeline-body">
                                <p>2021.09.30 資策會課程結訓</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@*<div id="fh5co-featured-testimony" class="fh5co-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 fh5co-heading">
                    <h2>Testimony</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 animate-box img-to-responsive">
                    <img src="images/person_1.jpg" alt="">
                </div>
                <div class="col-md-7 animate-box">
                    <blockquote>
                        <p> &ldquo; Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam. &rdquo;</p>
                        <p class="author"><cite>&mdash; Jane Smith</cite></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>*@



