@model ChoCastle.Models.ChoCastleDBEntities1
@{
    ViewBag.Title = "ProductDescription";
}

<br />
<br />
<br />
<br />
<br />
<br />

<script type="text/javascript">
    function buy() {
        alert('');
    }
</script>
<div id="fh5co-featured-testimony" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="font-family:'Microsoft JhengHei';color: #B8860B ;font-size:40px">比利時生巧克力65% -16片</h2>
            </div>

            <div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
                <img src="~/Template/images/choco/生巧克力.jpg" alt="">
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                <blockquote>
                    <p>
                        @Model.Products.FirstOrDefault().ProductDisc
                        這是一份經過比利時人精緻熔鍊的心意，在這份心意之中，除了比利時的驕傲之外，還添加了Chochoco對於巧克力的堅持。比利時巧克力的標準作法，是將可可豆研磨至超乎妳想像的20微米，因為更細緻，所以巧克力的質感溫潤如絲絨，適當的甜度，在妳口中可以感受到一種輕柔滑順的幸福。
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-gallery" @*class="fh5co-section"*@>
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2 style="font-family: Microsoft JhengHei;">產品規格</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            產品成份 - 比利時65%巧克力、法國鮮奶油、微量酒 (蛋奶素)<br />
                            品味方式 - 搭配黑咖啡或熱紅茶，慢慢品嘗享用<br />
                            訂購需知 - 冷藏保存一週
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 fh5co-gallery_item">
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/生巧克力2.jpg);" data-trigger="zoomerang"></div>
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/生巧克力3.jpg);" data-trigger="zoomerang"></div>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-gallery_item">
                <div class="fh5co-bg-img fh5co-gallery_big" style="background-image: url(/Template/images/choco/生巧克力6.jpg);" data-trigger="zoomerang"></div>
            </div>
            <div class="col-md-3 col-sm-3 fh5co-gallery_item">
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/生巧克力5.jfif);" data-trigger="zoomerang"></div>
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/紅茶生巧克力.jpg);" data-trigger="zoomerang"></div>
            </div>
        </div>
    </div>
</div>





<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

                <div>
                    <div class="form-group quantity-box">
                        <label class="control-label" style="font-family:'Microsoft JhengHei'">Order</label>
                        <input class="form-control" value="0" min="0" max="20" type="number">
                    </div>
                    <button type="button" class="btn btn-primary btn-outline" onclick="buy();">加入購物車</button>
                </div>
            </div>
        </div>
    </div>
</div>