
@{
    ViewBag.Title = "ProductDescription";
}

<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(/Template/images/choco/生巧克力2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <h1>比利時 生巧克力65%</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-featured-testimony" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2>Story</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>1999年我在比利時的布魯塞爾遇見一種充滿了奇妙滋味的巧克力，在口中彷彿一道黑色暖流融化在舌尖，一直是我無法言說的感官經驗，沒有辦法讓妳跟我一起品嚐這塊巧克力，一直是我心底的遺憾。終於在今年，我在台灣與它重逢，在第一個瞬間，我想到了妳！</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
                <img src="~/Template/images/choco/生巧克力.jpg" alt="">
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                <blockquote>
                    <p>這是一份經過比利時人精緻熔鍊的心意，在這份心意之中，除了比利時的驕傲之外，還添加了Chochoco對於巧克力的堅持。比利時巧克力的標準作法，是將可可豆研磨至超乎妳想像的20微米，因為更細緻，所以巧克力的質感溫潤如絲絨，適當的甜度，在妳口中可以感受到一種輕柔滑順的幸福。</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-gallery" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2>Gallery</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>│ 商品內容 │ 比利時生巧克力16片裝、緞帶、提袋</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 fh5co-gallery_item">
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/生巧克力2.jpg);" data-trigger="zoomerang"></div>
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/生巧克力3.jpg);" data-trigger="zoomerang"></div>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-gallery_item">
                <div class="fh5co-bg-img fh5co-gallery_big" style="background-image: url(/Template/images/choco/生巧克力6.jpg);" data-trigger="zoomerang"></div>
            </div>
            <div class="col-md-3 col-sm-3 fh5co-gallery_item">
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/生巧克力5.jfif);" data-trigger="zoomerang"></div>
                <div class="fh5co-bg-img" style="background-image: url(/Template/images/choco/紅茶生巧克力.jpg);" data-trigger="zoomerang"></div>
            </div>
        </div>
    </div>
</div>





<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
               
                <div>
                    <div class="form-group quantity-box">
                        <label class="control-label">Order</label>
                        <input class="form-control" value="0" min="0" max="20" type="number">
                    </div>
                    <button type="button" class="btn btn-primary btn-outline" onclick="buy();">加入購物車</button>
                </div>
            </div>
        </div>
    </div>
</div>