@{
    ViewBag.Title = "ShoppingFAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div id="fh5co-featured-testimony" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12 animate-box">
                <div class="fh5co-heading">
                    <h2 style="font-family:'Microsoft JhengHei';color: #B8860B ;font-size:40px">購物常見問題</h2>
                    <hr />
                    <ul>
                        <li>
                            <strong>完成訂購後，可以取消訂單嗎？</strong><br />
                            請至「會員專區」=>「訂單查詢」，點選「訂單取消」按鍵．
                            如訂單狀況已進入「出貨準備中」，請您與客服人員聯繫，可以在貨品送出前替您修改訂單。
                        </li>
                        <br />
                        <li>
                            <strong>如何換貨：</strong><br />
                            請在7天鑑賞期內，登錄「我的帳戶」頁面申請「換貨」
                        </li>
                        <br />
                        <li>
                            <strong>如何退貨：</strong><br />
                            請在7天鑑賞期內，點選［退貨］按鈕。按鈕將於收貨後2-3天才顯示。如無顯示，表示已超過７天鑑賞期。
                            收到您的退貨申請後，工作人員將與您聯繫，為您安排宅配取件的時間。
                        </li>
                        <br />
                        <li>
                            <strong>什麼情況可能無法辦理退貨？</strong><br />
                            ★ 超過7天鑑賞期。<br />
                            ★ 隨商品已附上相同之試用品。<br />
                            ★ 在不影響您檢查商品情形下，您將商品包裝毀損、封條移除、吊牌拆除、貼膠移除或標籤拆除等情形。<br />
                            ★ 已非全新狀態（外觀不得有刮傷、破損、受潮…等）。<br />
                            ★ 沒有完整包裝（商品、附件、外盒、保護袋、配件紙箱、保麗龍、隨貨文件、贈品等）。<br />
                            ★ 在您收到商品之前，已提供您檢查商品之機會。<br />
                            ★ 其他逾越檢查之必要或可歸責於您之事由，致商品有毀損、滅失或變更者。
                        </li>
                        <br />
                        <li>
                            <strong>7天鑑賞期怎麼計算:</strong><br />
                            根據消費者保護法之規定，您享有商品到貨後7天鑑賞期權益，是由消費者完成簽收取件的隔日開始算起至第7天止，為七天鑑賞期限。<br />
                            （如您的收件地址有管理員代收，則以代收的隔日起算喔，請留意送件通知）<br />
                            例如，完成簽收的時間是5/11，其7天鑑賞期起訖日即為5/12~5/18。您如欲辦理退貨需於「5/18前」提出退貨申請。
                        </li>
                        <br />
                        <li>
                            <strong>退款方式：會依照您使用的付款方式進行退款．</strong><br />
                            收回商品檢查確認後，退貨款項及發票皆由公司統一處理，如有相關問題，請洽：04-XXXXXX
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



